<head>
  <%- include('../includes/head') %>
  </head>
  
  <body>
      <%- include('../includes/header') %>
      <main >
        <h1 class="titulo">MI PRODE</h1>
        <div id="goleador_campeon">
          <% if (usuario.campeon != null) { %>
            <form class="flex" action="/prode/resetCampeon?_method=PUT" method="POST">
            <p class="campeon">Tu campeón: <%= usuario.equipo.pais %></p>
          <% } %>
          <% if (usuario.campeon == null) { %>
          <form class="flex" action="/prode/updateCampeon?_method=PUT" method="POST">
            <label for="campeon" class="label">Seleccionar campeón:</label>
            <select required name="campeon" id="campeon" class="input_goleador_campeon">
              <option value="">Seleccionar campeón</option>
              <% equipos.forEach(equipo => { %>
                  <option value="<%= equipo.id %>"><%= equipo.pais %></option>
              <% }) %>
            </select>
          <% } %>
           <% if (usuario.campeon == null && date < "2022-11-21") { %>
            <button type="submit" id="submit_create" class="boton_blanco"><p class="pc">Guardar</p> <i class="mobile fas fa-check"></i></button>
          <% } %>
          <% if (usuario.campeon != null && date < "2022-11-21") { %>
                <button type="submit" id="submit_create" class="boton_blanco"><p class="pc">Editar</p><i class="mobile fas fa-edit"></i></button>
          <% } %>
          </form>
          <% if (usuario.goleador != null) { %>
            <form class="flex" action="/prode/resetGoleador?_method=PUT" method="POST">
            <p class="campeon">Tu Goleador: <%= usuario.goleador %></p>
          <% } %>
          <% if (usuario.goleador == null) { %>
          <form class="flex" action="/prode/updateGoleador?_method=PUT" method="POST">
            <label for="goleador" class="label">Escribí tu Goleador: </label>
            <input type="text" name="goleador" id="goleador" class="input_goleador_campeon">
            <% } %>
           <% if (usuario.goleador == null && date < "2022-11-21") { %>
            <button type="submit" id="submit_create" class="boton_blanco"><p class="pc">Guardar</p> <i class="mobile fas fa-check"></i></button>
          <% } %>
          <% if (usuario.goleador != null && date < "2022-11-21") { %>
                <button type="submit" id="submit_create" class="boton_blanco"><p class="pc">Editar</p><i class="mobile fas fa-edit"></i></button>
          <% } %>
          </form>
        </div>
        <div id="home">
        <% grupos.forEach(grupo => { %>
        <div class="flex_center">
          <div class="grupo_1">
            <p class="titulo_grupo">Grupo <%= grupo.nombre %> </p>
            <% partidos.forEach(element => { %>
              <% if (element.grupos.nombre == grupo.nombre) { %>
                <% pronosticos.forEach(prode => { %>
                  <% if (prode.game_id == element.game_id && prode.user_id == locals.userLogged.user_id ) { %>
                    <% if (prode.equipo1 == null && prode.equipo2 == null) { %>
                        <form class="main_partidos" action="/prode/update/<%= element.game_id %>?_method=PUT" method="POST">
                      <% } else { %>
                        <form class="main_partidos" action="/prode/reset/<%= element.game_id %>?_method=PUT" method="POST">
                      <% } %> 
                        <p class="fecha"><%= element.fecha %> </p>
                        <div class="equipo_1">
                          <div class="img_p left">
                            <% if (element.equipos1.imagen != null) { %>
                              <img src="/uploads/banderas/<%= element.equipos1.imagen %>" alt="<% element.equipos1.pais %>">
                            <% } %>
                            <p><%= element.equipos1.pais %></p>
                          </div>
                          <% if (prode.equipo1 == null && date < element.fecha) { %>
                            <input required min="0" type="number" name="local" id="local">
                          <% }  else {%>
                            <p><%= prode.equipo1 %> </p>
                            <% }%>
                        </div>
                        <p>-</p>
                        <div class="equipo_2">
                          <% if (prode.equipo2 == null && date < element.fecha) { %>
                              <input required min="0" type="number" name="visitante" id="visitante">
                            <% }  else {%>
                              <p><%= prode.equipo2 %> </p>
                              <% }%>
                          <div class="img_p right">
                            <p><%= element.equipos2.pais %></p>
                            <% if (element.equipos2.imagen != null) { %>
                              <img src="/uploads/banderas/<%= element.equipos2.imagen %>" alt="<% element.equipos2.pais %>">
                            <% } %>
                          </div>
                          
                        </div>
                      <% if (prode.puntos == 3) { %>
                          <p class="gano puntos">+3</p>
                      <% } else if (prode.puntos == 1) { %>
                        <p class="empato puntos">+1</p>
                      <% } else if (prode.puntos == 0) { %>
                        <p class="perdio puntos">+0</p>
                      <% }  else {%>
                        <% if (date < element.fecha && prode.equipo1 == null && prode.equipo2 == null) { %>
                          <button type="submit" id="submit_create" class="boton"><p class="pc">Guardar</p> <i class="mobile fas fa-check"></i></button>
                        <% } %>
                        <% if (date < element.fecha && prode.equipo1 !=null && prode.equipo2 != null) { %>
                              <button type="submit" id="submit_create" class="boton"><p class="pc">Editar</p><i class="mobile fas fa-edit"></i></button>
                        <% } %>
                      <% } %>
                    </form>
                  <% } %>
                <% }) %>
              <% } %>
            <% }) %>
            
            
          </div>
        </div>
        <% }) %>
      </div>
      </main>
</body>
</html>