<html>
    <head>
    <%- include('../includes/head') %>
    </head>
    
    <body>
        <%- include('../includes/header') %>
        <head>
            <div class="responsive_table">
                <p class="titulo">TABLA DE POSICIONES:</p>
                <div class="tabla" id="tabla">
                    <table cellspacing="0" cellpadding="0">
                        <tr class="destacado">
                            <td translate="no" class="titulo_tabla">Puesto</td translate="no">
                            <td translate="no" class="titulo_tabla">Nombre</td translate="no">
                            <td translate="no" class="titulo_tabla">Puntos</td translate="no">
                            <td translate="no" class="titulo_tabla plenos">Plenos</td translate="no">
                        </tr>
                        <% for( let i = 0; i < usuarios.length; i++ ) { %>
                                <tr class="fondo1">
                                    <td translate="no"><%= (i + 1)%> ยบ</td>
                                    <td translate="no" class="flex"> 
                                        <img class="imagen_tabla" src="/uploads/users/<%= usuarios[i].image%>" alt="" id="imagen_profile" height="25px" width="25px">
                                        <p><%= usuarios[i].user_name%></p> 
                                    </td>
                                    <td translate="no"><%= usuarios[i].puntos%></td>
                                    <td class="plenos" translate="no"> <%= usuarios[i].plenos %></td>
                                </tr>
                        <% } %>
    
                        
                    </table>
        </head>
    </body>
</html>